<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.easyparcel.sm_bluetooth_printer">
   <application
     android:requestLegacyExternalStorage="true"
   >
        <service android:name="net.posprinter.service.PosprinterService" />
    </application>
     
    
    <uses-permission android:name="android.permission.BLUETOOTH" />  
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>
